$identity-destroy-color: #EEE
$identity-today-color: #C5332E

$link-color: #C5332E

$nav-color: #C5332E

@import "dark"

#dwarf
	#header
		background: url("/images/folio/dwarf/dwarf_header.png") no-repeat scroll 0 0
		width: 900px
		height: 270px
