---
layout: blog
title: Day One &mdash; potentially my first successful journal ever
category: blog
type: external
thumbnail: 
  image: dayone_lg_thumb.png
  colors: [C9412E, 2D2D2D, E0E3E5, 52C8E6]
#style: true
---
#dayone.alpha.grid_3
  :maruku
    ![Day One](http://destroytoday.com/blog/wp-content/uploads/2011/03/dayoneapp_icon.jpg)
    
    A few weeks ago, I tweeted about creating a private Twitter account to use as a journal. I dropped the idea after realizing that Twitter limits the number of viewable tweets to 3200. Cue Day One, a new OSX journal app. With a clean UI and simply gorgeous icon, the design alone sold me.

    ![Day One](http://destroytoday.com/blog/wp-content/uploads/2011/03/dayoneapp_menubar.jpg)
    
    Its desktop version ($9.99) utilizes a menubar window for quick and easy entries, and an accompanying iOS version ($0.99) syncs through Dropbox. Notifications appear throughout the day, reminding me to make an entry, which is just the motivation I need to keep with it. The only downside I see so far is the lack of a global hotkey. No worries, as it’s expected early April. Kudos to Paul Mayne on a job well-done.