<div class="thumb alpha omega" style="background: #{{post.thumbnail.colors.last}}">
	<a href="{{post.url}}"><img src="/assets{{post.id}}/{{post.thumbnail.image}}" width="200" height="200" alt="{{post.title}}" /></a>
	<div class="color_blocks" onclick="document.location='{{post.url}}'">
		{% case post.thumbnail.colors.size %} 
		{% when 3 %} 
			<div class="color_block" style="width: 33%; background: #{{post.thumbnail.colors[0]}}"></div>
			<div class="color_block" style="width: 33%; background: #{{post.thumbnail.colors[1]}}"></div>
			<div class="color_block" style="width: 34%; background: #{{post.thumbnail.colors[2]}}"></div>
		{% else %}
			{% for color in post.thumbnail.colors %}
				<div class="color_block" style="width: {{100.0 | divided_by:post.thumbnail.colors.size}}%; background: #{{color}}"></div>
			{% endfor %}
		{% endcase %}
	</div>
	<div class="metadata">
		<div class="title"><a href="{{post.url}}">{{post.title}}</a></div>
	</div>
</div>
