---
layout: default
title: Resume
category: about
style: resume
---
#resume
  %h2 Resume
  
  .container
    #info
      %h3 Info
      .spacer-4
      %ul
        %li Jonnie Hallman
        %li
          %script{:type => "text/javascript"}
            document.write('<a href="mailto:jonnie@destroytoday.com">jonnie@destroytoday.com</a>')
          %noscript
            %a{:href => "mailto:jonnie@destroytoday.com"} jonnie[at]destroytoday[dot]com
        %li
          %a{:href => "http://destroytoday.com"} destroytoday.com
      .spacer-2

    #experience
      %h3 Experience
      .spacer-4
      %h4 Adobe
      %ul#adobe
        %li San Francisco
        %li 2009 -
        %li UX Designer + Developer
      .spacer-3
      %h4 Destroy Today
      %ul#destroytoday
        %li Baltimore + San&nbsp;Francisco
        %li 2007 -
        %li UI/UX Designer + Software&nbsp;Developer
      .spacer-3
      %h4 Shaw Jelveh Design
      %ul#shawjelveh
        %li Baltimore
        %li 2006 - 2009
        %li Web Designer + Developer + Print&nbsp;Designer
      .spacer-3
      %h4 Freelance
      %ul#freelance
        %li Philadelphia + Baltimore
        %li 2002 - 2009
        %li Web Developer + Print&nbsp;Designer
      .spacer-2
  
  .container
    #education
      %h3 Education
      .spacer-4
      %h4 Maryland Institute College of&nbsp;Art&nbsp;(MICA)
      %ul#mica
        %li Baltimore
        %li 2005 - 2009
        %li BFA in Graphic Design
      .spacer-3
      %h4 Rhode Island School of Design
      %ul#risd
        %li Providence
        %li 2004
        %li Graphic Design
      .spacer-2
        
    #proficiency
      %h3 Proficiency
      .spacer-4
      %h4 Advanced
      %ul#advanced
        %li AS3
        %li HTML + HAML
        %li CSS + SASS
        %li JS + jQuery
        %li Halo
      .spacer-3
      %h4 Basic
      %ul#basic
        %li Objective-C
        %li Ruby
        %li Rails