---
layout: default
title: Contact
category: contact
style: true
---
#contact
  %h2 Contact
  .container
    .grid-1
      :maruku
        I check email religiously and never answer calls from unknown numbers. Hit me up.
    .grid-1
      #email.email
        %script{:type => "text/javascript"}
          document.write('<a href="mailto:jonnie.hallman@gmail.com">jonnie.hallman@gmail.com</a>')
        %noscript
          %a{:href => "mailto:jonnie.hallman@gmail.com"} jonnie.hallman[at]gmail[dot]com
      #phone
        410.775.8137
      #networks
        :maruku
          * [![Twitter](/assets/contact/twitter.png)](http://twitter.com/destroytoday)
          * [![Posterous](/assets/contact/posterous.png)](http://destroytoday.posterous.com)
          * [![Flickr](/assets/contact/flickr.png)](http://flickr.com/photos/jonnie_hallman/)
          * [![Vimeo](/assets/contact/vimeo.png)](http://vimeo.com/destroytoday)
          * [![Delicious](/assets/contact/delicious.png)](http://delicious.com/jonhallman)
          * [![LinkedIn](/assets/contact/linkedin.png)](http://www.linkedin.com/pub/jonnie-hallman/6/269/270)
          * [![GitHub](/assets/contact/github.png)](http://github.com/destroytoday)
          * [![RSS](/assets/contact/rss.png)](http://destroytoday.com/blog/feed/)
  