---
layout: default
title: Contact
category: contact
style: true
---
#contact
  %h2 Contact
  .grid_2.alpha
    :maruku
      I have no idea what to put here.
  .grid_1
    :maruku
      I check email religiously, never answer calls from unknown numbers, and become overjoyed when I receive a letter. Hit me up.
  .grid_1.omega
    #email.email.bm2
      jonnie[at]destroytoday[dot]com
    #phone.bm2
      :maruku
        410\.775\.8137
    #address.bm2
      :maruku
        * 1 Polk St Unit 407
        * San Francisco, CA 94102
    #networks
      :maruku
        * [![Twitter](/assets/contact/twitter.png)](http://twitter.com/destroytoday)
        * [![Posterous](/assets/contact/posterous.png)](http://destroytoday.posterous.com)
        * [![Flickr](/assets/contact/flickr.png)](http://flickr.com/photos/jonnie_hallman/)
        * [![Vimeo](/assets/contact/vimeo.png)](http://vimeo.com/destroytoday)
        * [![Delicious](/assets/contact/delicious.png)](http://delicious.com/jonhallman)
        * [![LinkedIn](/assets/contact/linkedin.png)](http://www.linkedin.com/pub/jonnie-hallman/6/269/270)
        * [![GitHub](/assets/contact/github.png)](http://github.com/destroytoday)
        * [![RSS](/assets/contact/rss.png)](http://destroytoday.com/blog/?feed=rss2)
    