---
layout: interview
title: RIA Radio interview
listname: RIA Radio
category: interview
type: audio
---
#ria-radio
  .grid-4
    %h2 {{ page.title }}
    <object height="81" width="100%"> <param name="movie" value="http://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F24082520&amp;show_comments=true&amp;auto_play=false&amp;color=007998"></param> <param name="allowscriptaccess" value="always"></param> <embed allowscriptaccess="always" height="81" src="http://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F24082520&amp;show_comments=true&amp;auto_play=false&amp;color=007998" type="application/x-shockwave-flash" width="100%"></embed> </object>
    .spacer-3
    %p
      %a{:href => "http://soundcloud.com/destroytoday/ria-radio-episode-2-jonnie"} RIA Radio Episode 2 - Jonnie Hallman
