---
layout: interview
title: Neowin interview
listname: Neowin
category: interview
type: text
---
%h2 Neowin interviews DestroyTwitter developer Jonnie Hallman

.metadata.date {{ page.date | date: "%m.%d.%y" }}

:maruku
  *by Christopher Vendemio*

  With Twitter's increasing popularity and growth into the mainstream media, many developers have come forward with both mobile and desktop clients that are meant to make your Twitter life just a little easier to manage. One such developer, Jonnie Hallman, and his Twitter client, [DestroyTwitter](/folio/destroytwitter), entered the game pretty late, but that hasn't stopped the software from gaining a large following in the four months it's been available. Neowin recently sat down with Jonnie and asked him about the piece of software that's has him suddenly standing in a very bright spotlight.

  ### To get things started, Jonnie, why don't you tell Neowin a little about yourself.

  **Jonnie:** I'm 22 and located in Baltimore and was brought up in a small town in Macungie, PA. I'm a senior graphic design major at the Maryland Institute College of Art, where I'll be graduating from in 2 weeks. I work part-time at the multi-disciplinary studio Shaw Jelveh Design as the web designer, programmer, photographer, and motion designer. In my spare time, I develop Adobe AIR apps and distribute them on my personal website Destroy Today. That's me in a nutshell.

  ### Speaking of your application development: Why did you choose the Adobe Air platform to work with?

  **Jonnie:** I chose Adobe AIR because I've been programming with Actionscript for maybe eight years now, so it was a very easy framework to pick up on. It also makes cross-platform development a cinch.

  ### So, what made you decide, considering the plethora of options already available, to develop a Twitter client of your own?

  **Jonnie:** I tried out Twitter a year ago with a very pessimistic eye. I didn't see the point and only thought of it as a place to tell people what you're doing. I didn't think of all the other things it's good for. Then in December, I retried it and started to get a following because of Destroy Today. I shopped around for different apps, but never settled with one because all of them seemed to have downsides. Either the design turned me off or the app itself was too big and resource-hungry. I spent a good week thinking about whether it'd be worth it to jump in this late in the game. I researched each app thoroughly, listing what the pros and cons were and eventually decided I needed my own app in order for me to use Twitter. Plus, I needed a new project. I felt reluctant to develop another API-based app since I've been wanting to come up with an independent app, but I still have time.

  ### You mention that other applications never really met your needs. What are your goals with the design of DestroyTwitter? What do you want it to be and what do you want to make sure it never becomes?

  **Jonnie:** Good question. I want [DestroyTwitter](/folio/destroytwitter) to keep Twitter what it should be---a background service. It's not meant to be a service that you're focused on full-time, using up as much memory as Photoshop. I developed DT(w) to make tweeting something that can be done in seconds and allow the user to get back to what they were doing. I never want to see it become bloatware that takes more than it provides. I also don't want to see it become another app that centralizes all social networks imaginable. I want it to remain the simple, easy-to-use app that lets you know from time to time when you get a new tweet.

  ### Understandably, not all users have the same requirements that you personally do, when it comes to a Twitter client. What are some of the more popular requests that you get from users for features they'd like to see?

  **Jonnie:** The most requested feature from the get-go has been "groups"---a canvas where only selected users' tweets show up. It's an easy way to organize things when you're following hundreds of people. I'm really excited because this week I'll be introducing this feature. It's been in the works for a while and has finally come together in a way that I'm pleased to go public with.

  ### Any other big features you have plans to implement or is the whole project a more "go with the flow" deal where you work around users' requests?

  **Jonnie:** It's an interesting time to ask. I'll be finishing up school in a bit, so I'm not sure what I have planned for then. I'll continue working on [DestroyTwitter](/folio/destroytwitter), but since it's pretty much been a full-time project this semester, I need to take a break for a little while. There will always be a handful of features to implement, so there's no question I'll have to keep at it. The pace I've been at it lately is too much to stay consistent with. With all that's going on within the coming weeks, it's hard to have an answer for the future.

  ### DestroyTwitter is currently ranked as the 19th most popular Twitter client (among all websites, desktop clients, and mobile clients that connect to Twitter) by TwitStat.com. Could you ever have imagined the level of success your application has achieved in the relatively short period of time it's been available to the public?

  **Jonnie:** To be honest, I developed it thinking of it as just a small side-project, so the success is a bit much to get my head around. It recently passed 20,000 unique users. With the new website and theme builder being public for only a few weeks, it already has over 400 user-designed themes available to download. The rapid pace of everything has really improved my email response time Knowing that so many people are not only aware of it, but using it everyday makes me glad I decided to go through with it. I was skeptical at first.

  ### With that many users and what seems to be a bright future, do you have any plans to monetize the production of DestroyTwitter by either placing advertisements on destroytwitter.com, charging for the software itself, or, perhaps, even signing corporate deals like a few other popular clients have done?

  **Jonnie:** That question is always on my mind. I'm not sure, in all honesty. I don't want to charge for it---I'm a strong believer in donationware. It's worked out pretty well so far. I think I'd be more inclined to follow a deal-based direction, but only if I can play a key part in keeping [DestroyTwitter](/folio/destroytwitter) on track. I want the original intent of DT(w) to stay intact.

  ### Well, Jonnie, thank you for sitting down with us, today. We wish you the best of luck and hope to hear more from DestroyTwitter in the near future.

  **Jonnie:** Thanks. It was a pleasure.

  If you wish to give [DestroyTwitter](/folio/destroytwitter) a try, simply head on over to [destroytwitter.com](http://destroytwitter.com) to get started.