- @layout = "folio_grid"
- @section = "Folio"
- projectList = 
-	[
-		'Process'
-	]
- projectList.each do |project|
	= partial('project_thumb', :locals => {:name => project})

-#Dir.glob('./src/pages/folio/*')
-#= partial('project_thumb', :locals => {:name => filename}) unless filename =~ /index/