---
layout: default
style: blog
---
<div id="blog">
	<div id="primary">
		{{content}}
	</div>
	<div id="sidebar">
		<div id="latest-tweet">
		  <p class="tweet"></p>
		  <img id="bubble-arrow" src="/assets/site/tweet-bubble-arrow.png" width="20" height="10" />
			<div id="avatar">
			  <a href="http://twitter.com/destroytoday"><img src="/assets/site/twitter_avatar.jpg" width="32" height="32" alt="@destroytoday" /></a>
			  <div class="metadata">
			    <a class="username" href="http://twitter.com/destroytoday">destroytoday</a>
			    <p class="timestamp"> </p>
			  </div>
			</div>
		</div>
	  <!--<div class="blog-buttons">
	    <div class="twitter-follow">
	      <a href="http://twitter.com/destroytoday" class="twitter-follow-button" data-show-count="false"></a>
	    </div>
	    <div class="subscribe-button">
	      <a href="{{ site.feed }}" onclick="window.open(this.href); return false;"></a>
	    </div>
	  </div>
	  <div class="spacer-2"></div>-->
		<div id="related-posts">
		  {% if paginator.posts %}
		    {% capture next_page_post %}
		      {% if paginator.next_page %}
		        {{ paginator.page | minus: 1 | times: paginator.per_page | plus: 1 }}
		      {% else %}
		        0
		      {% endif %}
		    {% endcapture %}
		    {% for post in site.categories.blog limit:9 offset:next_page_post %}
			    {% include blog-sidebar-thumb.html %}
			    <div class="spacer-2"></div>
  			{% endfor %}
		  {% else %}
		    {% assign related_post_i = 0 %}
  			{% for post in site.related_posts %}
  			  {% if post.categories == page.categories %}
  			    {% if related_post_i != '3' %}
  			      {% include blog-sidebar-thumb.html %}
  			      {% capture related_post_i %}{{ related_post_i | plus: 1 }}{% endcapture %}
  			      <div class="spacer-2"></div>
  			    {% endif %}
  			  {% endif %}
  			{% endfor %}
  		{% endif %}
		</div>
		<div id="blog-buttons">
		  <a class="blog-button blog-stream-button" href="/blog"><img src="/assets/site/blog-stream-button.png" width="18" height="18" /></a>
		  <a class="blog-button blog-list-button" href="/blog/list"><img src="/assets/site/blog-list-button.png" width="18" height="18" /></a>
		  <a class="blog-button blog-grid-button" href="/blog/grid"><img src="/assets/site/blog-grid-button.png" width="18" height="18" /></a>
		</div>
	</div>
</div>
