---
layout: default
category: blog
---
<div id="blog">
  <h2>{{ page.title }}</h2>
  {% assign t2 = '0' %}
  {% assign t3 = '0' %}
  {% assign t4 = '0' %}
  {% for project in site.tags[page.tag] %}
  	{% include project-thumb.html %}
	
  	{% capture t2 %}{{ t2 | plus:1 }}{% endcapture %}
  	{% capture t3 %}{{ t3 | plus:1 }}{% endcapture %}
  	{% capture t4 %}{{ t4 | plus:1 }}{% endcapture %}
	
  	<div class="spacer-1-2"> </div>
	
  	{% if t2 == '2' %}
  		<div class="spacer-2-2"> </div>
  		{% assign t2 = '0' %}
  	{% endif %}
	
  	{% if t3 == '3' %}
  		<div class="spacer-3-2"> </div>
  		{% assign t3 = '0' %}
  	{% endif %}
	
  	{% if t4 == '4' %}
  		<div class="spacer-4-2"> </div>
  		{% assign t4 = '0' %}
  	{% endif %}

  	{% if project == site.tags[page.tag].last %}
  		<div class="clear"> </div>
  	{% endif %}
  {% endfor %}
</div>