---
layout: default
---
<div id="blog">
	<div id="primary" class="grid_3 alpha">
		{{content}}
	</div>
	<div id="sidebar" class="grid_1 omega">
		<!--<div id="search-wrapper">
			<input id="search" type="text" />
			<hr/>
		</div>-->
		<div id="latest-tweet">
			<img src="/images/assets/twitter_avatar.jpg" width="32" height="32" alt="@destroytoday" />
			<p></p>
			<hr/>
		</div>
		<div id="related-posts">
			{% for post in site.categories.blog %}
			{% include blog_sidebar_thumb.html %}
			{% if post != site.categories.blog.last %}
			<hr/>
			{% endif %}
			{% endfor %}
		</div>
	</div>
	<!--per page: {{paginator.per_page}}<br/>
	total posts: {{paginator.total_posts}}<br/>
	total pages: {{paginator.total_pages}}<br/>
	page: {{paginator.page}}<br/>
	prev page: {{paginator.previous_page}}<br/>
	next page: {{paginator.next_page}}<br/>-->
</div>