---
layout: default
---
<div id="blog">
	<div id="primary" class="grid-3">
		{{content}}
	</div>
	<div id="sidebar" class="grid-1">
		<!--<div id="search-wrapper">
			<input id="search" type="text" />
			<hr/>
		</div>-->
		<div id="latest-tweet">
			<a href="http://twitter.com/destroytoday"><img src="/assets/site/twitter_avatar.jpg" width="32" height="32" alt="@destroytoday" /></a>
			<p></p>
			<hr/>
		</div>
		<div id="related-posts">
		  {% if paginator.posts %}
		    {% for post in paginator.posts limit:5 offset:1 %}
			    {% include blog_sidebar_thumb.html %}
			    <hr/>
  			{% endfor %}
		  {% else %}
		    {% assign related_post_i = 0 %}
  			{% for post in site.related_posts %}
  			  {% if post.categories == page.categories %}
  			    {% if related_post_i != '3' %}
  			      {% include blog_sidebar_thumb.html %}
  			      {% capture related_post_i %}{{ related_post_i | plus: 1 }}{% endcapture %}
  			      <hr/>
  			    {% endif %}
  			  {% endif %}
  			{% endfor %}
  		{% endif %}
		</div>
		<!--<div id="latest-flickr">poop</div>-->
	</div>
</div>
{% if page.layout != 'blog' %}
{% include project_direction.html %}
{% if next_url %}
<div id="prev" class="direction">
	<a href="{{next_url}}"><span class="title_wrapper"><span class="title">{{next_title}}</span></span> <span class="arrow_wrapper"><span class="arrow">&lsaquo;</span></span></a>
</div>
{% endif %}
{% if previous_url %}
<div id="next" class="direction">
	<a href="{{previous_url}}"><span class="arrow_wrapper"><span class="arrow">&rsaquo;</span></span> <span class="title_wrapper"><span class="title">{{previous_title}}</span></span></a>
</div>
{% endif %}
{% endif %}