{% include doctype.html %}
<html>
	<head>
		<title>DestroyToday / {{ page.title }}</title>
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;"/>
		
		<link type="application/rss+xml" rel="alternate" title="DestroyToday" href="{{ site.feed }}" />
		
		{% include fontdeck-style.html %}
		{% include style.html %}
		
		{% include google-analytics-js.html %}
		{% include disqus-js.html %}
		
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
	</head>
	
	<body>
		<div id="page">
			<div id="top">
			  {% include identity.html %}
				{% include global-navigation.html %}
			</div>
			<div id="content">
				{{ content }}
			</div>
			{% include footer.html %}
		</div>
		<!--{% include project-direction.html %}-->
		{% include external-js.html %}
	</body>
</html>
