---
layout: default
---
{% for image in page.images %}
<div class="project">
	<div class="image">
		<img src="/images/{{page.category}}/{{page.type}}/{{image}}" />
		<div class="prev">
			<img class="arrow" src="/images/assets/prev_arrow_lg.gif" width="60" height="90" alt="prev" />
		</div>
		<div class="next">
			<img class="arrow" src="/images/assets/next_arrow_lg.gif" width="60" height="89" alt="next" />
		</div>
	</div>
	<div class="metadata">
		<h2>{{page.title}}</h2>
		<p>{{page.content}}</p>
		<div class="thumbs">
			{% for image in page.images %}
				<div class="thumb">
					<img src="/images/{{page.category}}/{{page.type}}/{{image | replace: '_', '_sm_thumb_'}}" width="40" height="40" />
				</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endfor %}
