---
layout: project
title: DestroyTwitter
category: folio
type: app
thumbnail: 
  image: destroytwitter_lg_thumb.png
  colors: [00A7D2, B4B291, 222222]
style: true
---
#destroytwitter.container_4
  #header.grid_4
    %img{:src => "/assets{{page.id}}/destroytwitter_header.png", :width => 900, :height => 270}
  #description.grid_4
    :maruku
      I consider Twitter to be a background service, like instant messaging. Because of this, I wrote DestroyTwitter so I could tweet and get back to business without blinking an eye. I got the basics out of the way, then focused on a few of the more unique features, like filters and themes. Within a matter of months, the app took off, reaching an install count in the six figures. It currently sends more than a million tweets a month.
  .spacer_3
  #links.grid_4.center
    :maruku
      [Visit the product](http://destroytwitter.com) + [Download the app](http://destroytoday.com/destroytwitter/releases/prerelease/DestroyTwitter215p2.zip) + [View the source](https://github.com/destroytoday/destroytwitter)
  .spacer_1
  .container
    .grid_2
      %img{:src => "/assets{{page.id}}/destroytwitter_lightweight.png", :width => 433, :height => 300}
      .tag.center
        :maruku
          Small, lightweight footprint
    .grid_2
      %img{:src => "/assets{{page.id}}/destroytwitter_replying.png", :width => 433, :height => 300}
      .tag.center
        :maruku
          In-context replying
  .spacer_1
  .container
    .grid_2
      %img{:src => "/assets{{page.id}}/destroytwitter_filters.png", :width => 433, :height => 298}
      .tag.center
        :maruku
          Filters
    .grid_2
      %img{:src => "/assets{{page.id}}/destroytwitter_preferences.png", :width => 433, :height => 298}
      .tag.center
        :maruku
          Preferences
  .spacer_1
  .grid_4
    %img{:src => "/assets{{page.id}}/destroytwitter_themes.png", :width => 900, :height => 657}
    .tag.center
      :maruku
        Themes