---
layout: project
title: Calendar
category: folio
type: screensaver
thumbnail: 
  image: calendar-thumb.png
  colors: ['007998', 333333, 222222]
style: true
---
#calendar
  #header.grid-4
  #description.grid-4
    :maruku
      The calendar screensaver displays the time and date linearly, easing each line into place with every second that passes. Originally an experiment with a Flash-to-screensaver technology, the current version has been rewritten in Objective-C in order to work with the latest Mac OS. The transition to native code was a good idea as it let me add color preferences, which couldn't be done with the previous version's converter.
  .spacer-3
  #links.grid-4.center
    :maruku
      [Download for Mac OS X 10.6](http://download.destroytoday.com/destroytoday_calendar_screensaver_mac_64bit.zip) + [Mac OS X 10.4/10.5](http://download.destroytoday.com/destroytoday_calendar_screensaver_mac_32bit.zip) + [Windows](http://download.destroytoday.com/destroytoday_calendar_screensaver_pc.zip)
  .spacer-1
  #swissmiss.grid-4
    %img.checkered{:src => "/assets{{page.id}}/calendar-swissmiss.png"}
  .spacer-1
  #sky.grid-4
    %img.checkered{:src => "/assets{{page.id}}/calendar-sky.png"}
  .spacer-1
  #pink.grid-4
    %img.checkered{:src => "/assets{{page.id}}/calendar-pink.png"}
  .spacer-1
  #preferences.grid-4
    %img.checkered{:src => "/assets{{page.id}}/calendar-preferences.png"}
    .tag.center
      :maruku
        Preferences window