---
layout: project
title: Calendar
category: folio
type: screensaver
thumbnail: 
  image: calendar_lg_thumb.png
  colors: [007998, 333333, 222222]
style: true
---
#calendar
  #header.grid_4
  #description.grid_4.bm2
    :markdown
      The calendar screensaver displays the time and date linearly, easing each line into place with every second that passes. Originally an experiment with a Flash-to-screensaver technology, the current version has been rewritten in Objective-C in order to work with the latest Mac OS. The transition to native code was a good idea as it let me add color preferences, which couldn't be done with the previous version's converter.
  #links.grid_4.center.bm1
    :maruku
      [Download for Mac OS X 10.6](http://destroytoday.com/download/destroytoday_calendar_screensaver_mac_64bit.zip) + [Mac OS X 10.4/10.5](http://destroytoday.com/download/destroytoday_calendar_screensaver_mac_32bit.zip) + [Windows](http://destroytoday.com/download/destroytoday_calendar_screensaver_pc.zip)
  #swissmiss.grid_4.tm1.bm1
    %img{:src => "/images{{page.id}}/calendar_swissmiss.png", :width => 900, :height => 400}
  #sky.grid_4.tm1.tm1.bm1
    %img{:src => "/images{{page.id}}/calendar_sky.png", :width => 900, :height => 400}
  #pink.grid_4.tm1.tm1.bm1
    %img{:src => "/images{{page.id}}/calendar_pink.png", :width => 900, :height => 400}
  #preferences.grid_4.tm1
    %img{:src => "/images{{page.id}}/calendar_preferences.png", :width => 900, :height => 578}
    .tag.center
      :markdown
        Preferences window