---
layout: project
title: Digital Publishing Suite
category: folio
type: app
thumbnail: 
  image: adobedps_lg_thumb.png
  colors: [986A89, FFFFFF, B9B9B9]
style: true
---
#adobedps
  #header.grid-4
    %img{:src => "/assets{{page.id}}/adobedps_header.png", :width => 900, :height => 270}
  #description.grid-4
    :maruku
      I spent a solid year working on Adobe's Digital Publishing Suite, first on the prototype team, then on the production team. My responsiblities lied in the base and UI components for AIR, then the video component for iOS when DPS was rewritten in Objective-C. We revisited the AIR version when Google introduced Android and I led the library and video UI development.
  .spacer-3
  #links.grid-4.center
    :maruku
      [View the product](http://www.adobe.com/products/digitalpublishingsuite/) + [WIRED magazine](http://itunes.apple.com/us/app/wired-magazine/id373903654?mt=8) + [The New Yorker](http://itunes.apple.com/us/app/the-new-yorker-magazine/id370614765?mt=8) + [Martha Stewart Living](http://itunes.apple.com/us/app/martha-stewart-living-magazine/id399094624?mt=8)
  .spacer-1
  #library.grid-4
    %img{:src => "/assets{{page.id}}/adobedps_library.jpg", :width => 900, :height => 574}
    .tag.center
      :maruku
        Library
  .spacer-1
  #toc.grid-4
    %img{:src => "/assets{{page.id}}/adobedps_toc.jpg", :width => 900, :height => 574}
    .tag.center
      :maruku
        Table of Contents
  .spacer-1
  #browsemode.grid-4
    %img{:src => "/assets{{page.id}}/adobedps_browsemode.jpg", :width => 900, :height => 574}
    .tag.center
      :maruku
        Browse Mode