---
layout: project
title: I. Gorman Jewelers
category: folio
type: web
thumbnail: 
  image: igorman_lg_thumb.png
  colors: [48300D, CCCCCC, 8B8B8B, 222222]
style: true
---
#igorman.container_4
  .grid_4
    %img{:src => "/images{{page.id}}/igorman_title.jpg", :width => 900, :height => 514}
  #description.grid_4.tm1.bm2
    :maruku
      The I.Gorman Jewelers website was a freelance job I did through B. Creative Group in Baltimore. They hired me to develop the frontend using Flash. To set itself apart from typical jewelry websites, this one has a 'hidden' section, resembling a jewelry box, for saving and sharing items. I ended up using the site, as well as its myGorman feature, to find my fiance's engagement ring.
  #links.grid_4.center.bm1
    :maruku
      [Visit the website](http://igorman.com)
  .grid_4.tm1.bm1
    %img{:src => "/images{{page.id}}/igorman_bridge.jpg", :width => 900, :height => 514}
    %p.tag.center Navigation bridge
  .grid_4.tm1.bm1
    %img{:src => "/images{{page.id}}/igorman_showall.jpg", :width => 900, :height => 514}
    %p.tag.center Show all
  .grid_4.tm1.bm1
    %img{:src => "/images{{page.id}}/igorman_dragging.jpg", :width => 900, :height => 514}
    %p.tag.center Drag and drop saving
  .grid_4.tm1.bm1
    %img{:src => "/images{{page.id}}/igorman_mygorman.jpg", :width => 900, :height => 514}
    %p.tag.center myGorman