---
layout: project
title: I. Gorman Jewelers
category: folio
type: web
thumbnail: 
  image: igorman-thumb.png
  colors: [48300D, CCCCCC, 8B8B8B, 222222]
style: true
---
#igorman
  .grid-4
    %img.checkered{:src => "/assets{{page.id}}/igorman-title.jpg"}
  .spacer-2
  #description.grid-4
    :maruku
      The I.Gorman Jewelers website was a freelance job I did through B. Creative Group in Baltimore. They hired me to develop the frontend using Flash. To set itself apart from typical jewelry websites, this one has a 'hidden' section, resembling a jewelry box, for saving and sharing items. I ended up using the site, as well as its myGorman feature, to find my fiance's engagement ring.
  .spacer-3
  #links.grid-4.center
    :maruku
      [Visit the website](http://igorman.com)
  .spacer-1
  .grid-4
    %img.checkered{:src => "/assets{{page.id}}/igorman-bridge.jpg"}
    %p.tag.center Navigation bridge
  .spacer-1
  .grid-4
    %img.checkered{:src => "/assets{{page.id}}/igorman-showall.jpg"}
    %p.tag.center Show all
  .spacer-1
  .grid-4
    %img.checkered{:src => "/assets{{page.id}}/igorman-dragging.jpg"}
    %p.tag.center Drag and drop saving
  .spacer-1
  .grid-4
    %img.checkered{:src => "/assets{{page.id}}/igorman-mygorman.jpg"}
    %p.tag.center myGorman