---
---
$background-color: #B9B9B9

$text-color: #333

$identity-destroy-color: #222
$identity-today-color: #7B496F

$link-color: #7B496F
$link-hover-color: #FFF

$nav-color: #222
$nav-selected-color: #7B496F

$tag-color: #666

$footer-color: #666

@import "master"

#adobe-digital-publishing-suite
    img
        width: 100%
        height: auto
        
    .narrow
        display: none !important

    @media screen and (max-width: 480px)
        .wide
            display: none
    
        .narrow
            display: block !important
    
    @media screen and (min-width: 481px) and (max-width: 732px)
        .wide
            display: none
    
        .narrow
            display: block !important