---
layout: project
title: JPixel
category: lab
type: web app
thumbnail: 
  image: jpixel_lg_thumb.png
  colors: ['000000', CCCCCC, FFFFFF]
style: true
---
#jpixel.container_4
  #header.grid_4
  #description.grid_4
    :markdown
      JPixel is a PHP web app that enlarges images using a series dot patterns. I built it in order to generate images that could be printed at a higher resolution, but still retain a degree of sharpness.