---
layout: project
title: Gum Wall
category: lab
type: sculpture
thumbnail: 
  image: gumwall_lg_thumb.jpg
  colors: [ece1d1, bea86c]
style: true
---
#gumwall.container_4
  .alpha.grid_2
    %img{:src => "/images{{page.id}}/gumwall_0.jpg", :width => 433, :height => 386}
  .omega.grid_2
    %img{:src => "/images{{page.id}}/gumwall_1.jpg", :width => 433, :height => 386}
  .clear
  .top_margin.grid_4
    :markdown
      Even though this is a college assignment from years ago, it's still one of my favorite projects to date. We were asked to make anything, but it had to consist of at least a thousand of the same object. Imagine the possibilities! I decided to build a 2 inch wall 12 feet long out of 2,000 sticks of Juicy Fruit. I stacked the gum like bricks, using water to adhere them all together.