---
layout: project
title: Printer Patterns
category: lab
type: installation
thumbnail: 
  image: printerpatterns_lg_thumb.jpg
  colors: [00B4F1, F80080, F8ED5A, 110209]
style: true
---
#printerpatterns.container_4
  #header.grid_4
    %img{:src => "/images{{page.id}}/printerpatterns_header.jpg", :width => 900, :height => 607}