---
layout: project
title: Floating Type
category: lab
type: photo
thumbnail: 
  image: floatingtype_lg_thumb.jpg
  colors: [FF6801, FFFFFF]
style: true
---
#calendar.container_4
  #orange.grid_4
    %img{:src => "/images{{page.id}}/floatingtype_orange.jpg", :width => 900, :height => 254}
  #apple.grid_4
    %img{:src => "/images{{page.id}}/floatingtype_apple.jpg", :width => 900, :height => 254}
  #cherry.grid_4
    %img{:src => "/images{{page.id}}/floatingtype_cherry.jpg", :width => 900, :height => 254}
