---
layout: project
title: DestroyFlickr
category: folio
type: app
thumbnail: 
  image: destroyflickr_lg_thumb.png
  colors: [007998, 222222]
style: true
---
#destroyflickr.container_4
  #header.grid_4
    %img{:src => "/images{{page.id}}/destroyflickr_header.png", :width => 900, :height => 270}
  #description.grid_4.bm2
    :maruku
      Prior to DestroyFlickr, I only had experience with web development. Designing and coding for the desktop was completely new to me, and I loved that---the chance to experiment with a completely new platform. I targeted Flickr out of my frustration with the website. Its white background and static pages seemed like the wrong environment for photography. I changed everything I didn't like about the site and added a few extra features of my own. DestroyFlickr won an Adobe Design Achievement Award for Developer/Designer Collaboration.
  #links.grid_4.center.bm1
    :maruku
      [Download the app](http://destroytoday.com/releases/DestroyFlickr108B.zip)
  .grid_4.bm1
    %img{:src => "/images{{page.id}}/destroyflickr_profile.jpg", :width => 900, :height => 579}
    .tag.center
      :maruku
        Profile
  .grid_4.bm1
    %img{:src => "/images{{page.id}}/destroyflickr_photos.jpg", :width => 900, :height => 579}
    .tag.center
      :maruku
        Contact Sheet
  .grid_4.bm1
    %img{:src => "/images{{page.id}}/destroyflickr_photo.jpg", :width => 900, :height => 579}
    .tag.center
      :maruku
        Photo
  .grid_4.bm1
    %img{:src => "/images{{page.id}}/destroyflickr_photozoomed.jpg", :width => 900, :height => 579}
    .tag.center
      :maruku
        Zoomed Photo
  .grid_4
    %img{:src => "/images{{page.id}}/destroyflickr_viewall.jpg", :width => 900, :height => 579}
    .tag.center
      :maruku
        View All