---
layout: project
title: Dwarf
category: folio
type: app
thumbnail: 
  image: dwarf_lg_thumb.png
  colors: [C5332E, 222222]
style: true
---
#dwarf.container_4
  #header.grid_4
  .grid_4
    :markdown
      Dwarf is an open source screen toolbox. It provides designers and developers with tools to measure and align anything on the screen.
