---
layout: project
title: Dwarf
category: folio
type: app
thumbnail: 
  image: dwarf_lg_thumb.png
  colors: [C5332E, 222222]
style: true
---
#dwarf
  #header.grid_4
    %img{:src => "/images{{page.id}}/dwarf_header.png", :width => 900, :height => 270}
  #description.grid_4.bm2
    :maruku
      Dwarf is an open source screen toolbox. It provides designers and developers with tools to measure and align anything on the screen. When Adobe first introduced AIR, they released several example apps. One of them was a screen ruler named PixelPerfect. When AIR 2.0 came out, PixelPerfect stopped working, so I decided to build a replacement. I experimented with window manipulation, hotkeys, and dynamic menus. The end result is an app that I still use on a daily basis, and that's big in my book.
  #links.grid_4.center.bm1
    :maruku
      [Download the app](https://github.com/downloads/destroytoday/Dwarf/Dwarf-1.0.20100213.0.air) + [View the source](https://github.com/destroytoday/Dwarf)
  #rulers.grid_4.tm1.bm1
    %img{:src => "/images{{page.id}}/dwarf_rulers.png", :width => 900, :height => 200}
    .tag.center
      :maruku
        Rulers
  #guides.grid_4.tm1.bm1
    %img{:src => "/images{{page.id}}/dwarf_guides.png", :width => 1100, :height => 200}
    .tag.center
      :maruku
        Guides