---
layout: project
title: Dwarf
category: folio
type: app
thumbnail: 
  image: dwarf_lg_thumb.png
  colors: [C5332E, 222222]
style: true
---
#dwarf.container_4
  #header.grid_4
  .alpha.grid_2
    :markdown
      Dwarf is an open source screen toolbox. It provides designers and developers with tools to measure and align anything on the screen.
  .omega.grid_2
    :markdown
      Poop
  .clear
  .grid_4.tm1.bm1
    %img{:src => "/images{{page.id}}/dwarf_toolbar.png", :width => 900, :height => 25}
  .clear
  .alpha.grid_2
    :markdown
      No way
  .omega.grid_2
    :markdown
      Ja way