---
layout: project
title: I. Gorman Jewelers
category: folio
type: web
thumbnail: 
  image: igorman_lg_thumb.png
  colors: [48300D, CCCCCC, 8B8B8B, 222222]
style: true
---
#igorman.container_4
	.grid_4.bm1
		%img{:src => "/images{{page.id}}/igorman_title.jpg", :width => 900, :height => 514}
	.grid_4.tm1.bm1
		%img{:src => "/images{{page.id}}/igorman_bridge.jpg", :width => 900, :height => 514}
	.grid_4.tm1.bm1
		%img{:src => "/images{{page.id}}/igorman_showall.jpg", :width => 900, :height => 514}
	.grid_4.tm1.bm1
		%img{:src => "/images{{page.id}}/igorman_dragging.jpg", :width => 900, :height => 514}
	.grid_4.tm1.bm1
		%img{:src => "/images{{page.id}}/igorman_mygorman.jpg", :width => 900, :height => 514}