---
layout: project
title: DestroyTwitter
category: folio
type: app
thumbnail: 
  image: destroytwitter_lg_thumb.png
  colors: [00A7D2, 999981, 222222]
style: true
---
#destroytwitter.container_4
  #header.grid_4
    %img{:src => "/images{{page.id}}/destroytwitter_header.png", :width => 900, :height => 270}
  #description.grid_4.bm2
    :maruku
      This is DestroyTwitter, yo.
  #links.grid_4.center.bm1
    :maruku
      [Visit the product](http://destroytwitter.com) + [Download the app](http://destroytoday.com/destroytwitter/releases/prerelease/DestroyTwitter215p2.zip)
  .grid_2.alpha.tm1.bm1
    %img{:src => "/images{{page.id}}/destroytwitter_lightweight.png", :width => 433, :height => 300}
    .tag.center
      :maruku
        Small, lightweight footprint
  .grid_2.omega.tm1.bm1
  .clear
  .grid_2.alpha.tm1.bm1
    %img{:src => "/images{{page.id}}/destroytwitter_filters.png", :width => 433, :height => 298}
    .tag.center
      :maruku
        Filters
  .grid_2.omega.tm1.bm1
    %img{:src => "/images{{page.id}}/destroytwitter_preferences.png", :width => 433, :height => 298}
    .tag.center
      :maruku
        Preferences