---
layout: project
title: Calendar
category: folio
type: screensaver
thumbnail: 
  image: calendar_lg_thumb.png
  colors: [007998, 333333, 222222]
style: true
---
#calendar.container_4
  #header.grid_4
  #description.alpha.grid_3.bottom_margin
    :markdown
      The calendar screensaver displays the time and date linearly, easing each line into place with every second that passes. Originally an experiment with a Flash-to-screensaver technology, the current version has been rewritten in Objective-C in order to work with the latest Mac OS. Transitioning to native code has proven beneficial, allowing me to bypass previous hurdles and add color preferences.
  #download.omega.grid_1.bottom_margin
    :markdown
      ### Download
      - [For Mac OS X 10.6](http://destroytoday.com/download/destroytoday_calendar_screensaver_mac_64bit.zip)
      - [For Mac OS X 10.4/10.5](http://destroytoday.com/download/destroytoday_calendar_screensaver_mac_32bit.zip)
      - [For Windows (using converter)](http://destroytoday.com/download/destroytoday_calendar_screensaver_pc.zip)
  .clear
  #preferences.grid_4.top_margin.bottom_margin
    %img{:src => "/images{{page.id}}/calendar_preferences.png", :width => 900, :height => 578}
    .tag.center
      :markdown
        Preferences window
  #swissmiss.grid_4.top_margin.bottom_margin
    %img{:src => "/images{{page.id}}/calendar_swissmiss.png", :width => 900, :height => 400}
    .tag.center
      :markdown
        Alternate colors