---
layout: project
title: Digital Publishing Suite
category: folio
type: app
thumbnail: 
  image: adobedps_lg_thumb.png
  colors: [986A89, FFFFFF, B9B9B9]
style: true
---
#adobedps
  #header.grid_4
    %img{:src => "/images{{page.id}}/adobedps_header.png", :width => 900, :height => 270}
  #browsemode.grid_4
    %img{:src => "/images{{page.id}}/adobedps_browsemode.jpg", :width => 900, :height => 731}