/* line 17, ../../../../../.rvm/gems/ruby-1.8.7-p334/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../.rvm/gems/ruby-1.8.7-p334/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.8.7-p334/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.8.7-p334/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.8.7-p334/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.8.7-p334/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../.rvm/gems/ruby-1.8.7-p334/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.8.7-p334/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, ../../../../../.rvm/gems/ruby-1.8.7-p334/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 10, ../../src/_css/screen.sass */
body {
  font-family: "museo-sans-1", "museo-sans-2", sans-serif;
  font-size: 1em;
  font-weight: 500;
  color: #333333;
  background: white;
  margin: 0px 80px 0px 80px;
}

/* line 19, ../../src/_css/screen.sass */
::selection {
  color: white;
  background: #007998;
}

/* line 23, ../../src/_css/screen.sass */
::-moz-selection {
  color: white;
  background: #007998;
}

/* line 28, ../../src/_css/screen.sass */
#_l {
  display: none;
}

/* line 31, ../../src/_css/screen.sass */
#_d {
  width: 660px;
}
/* line 34, ../../src/_css/screen.sass */
#_d li {
  display: inline;
  float: left;
}

/* line 37, ../../src/_css/screen.sass */
a {
  color: #007998;
  text-decoration: none;
}

/* line 41, ../../src/_css/screen.sass */
#page {
  margin: 0px auto 0px auto;
  width: 900px;
}

/* line 45, ../../src/_css/screen.sass */
#header {
  clear: both;
  height: 72px;
}
/* line 49, ../../src/_css/screen.sass */
#header #identity {
  display: inline;
  float: left;
  margin: 12px 0px 0px 0px;
}
/* line 53, ../../src/_css/screen.sass */
#header #identity h1 {
  font-weight: 700;
}
/* line 56, ../../src/_css/screen.sass */
#header #identity h1 a.destroy {
  color: #222222;
}
/* line 59, ../../src/_css/screen.sass */
#header #identity h1 a.today {
  color: #007998;
}
/* line 62, ../../src/_css/screen.sass */
#header #navigation {
  display: inline;
  float: right;
}
/* line 66, ../../src/_css/screen.sass */
#header #navigation ul li {
  display: inline;
  float: left;
  margin: 12px 6px 0px 0px;
  font-size: 0.75em;
}
/* line 71, ../../src/_css/screen.sass */
#header #navigation ul li.selected {
  color: #007998;
  margin-top: 0px;
  padding-top: 8px;
  font-weight: 700;
  border-top: solid 4px #007998;
}

/* line 78, ../../src/_css/screen.sass */
img {
  display: block;
}

/* line 81, ../../src/_css/screen.sass */
p {
  margin: 0px 0px 12px 0px;
}

/* line 84, ../../src/_css/screen.sass */
.project_thumb {
  display: inline;
  float: left;
  position: relative;
  width: 200px;
  margin: 0px 33px 50px 0px;
}
/* line 90, ../../src/_css/screen.sass */
.project_thumb .color_blocks {
  position: absolute;
  width: 100%;
  height: 10px;
  cursor: pointer;
  cursor: hand;
}
/* line 97, ../../src/_css/screen.sass */
.project_thumb .color_blocks .color_block {
  display: inline;
  float: left;
  height: 100%;
}
/* line 101, ../../src/_css/screen.sass */
.project_thumb .metadata {
  position: absolute;
  clear: both;
  padding: 10px 0px 0px 0px;
  width: 100%;
  background: white;
}
/* line 108, ../../src/_css/screen.sass */
.project_thumb .metadata .title {
  display: inline;
  float: left;
}
/* line 111, ../../src/_css/screen.sass */
.project_thumb .metadata .title a {
  color: #333333;
}
/* line 114, ../../src/_css/screen.sass */
.project_thumb .metadata .type {
  display: inline;
  float: right;
  font-size: 0.8em;
  font-style: italic;
  line-height: 1.4em;
  color: #999999;
}

/* line 121, ../../src/_css/screen.sass */
.projects {
  clear: both;
  margin: 0px 0px 40px 0px;
}

/* line 125, ../../src/_css/screen.sass */
.project {
  display: inline;
  float: left;
  margin: 0px 0px 40px 0px;
  min-width: 930px;
}
/* line 130, ../../src/_css/screen.sass */
.project .container {
  display: inline;
  float: left;
  width: 600px;
}
/* line 134, ../../src/_css/screen.sass */
.project .container .viewport {
  display: inline;
  float: left;
  position: relative;
}
/* line 139, ../../src/_css/screen.sass */
.project .container .viewport .images .image {
  display: none;
}
/* line 142, ../../src/_css/screen.sass */
.project .container .viewport .images .selected {
  display: block;
}
/* line 145, ../../src/_css/screen.sass */
.project .container .viewport .prev, .project .container .viewport .next {
  background: url("/images/assets/spacer.gif") repeat scroll 0 0 transparent;
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
}
/* line 153, ../../src/_css/screen.sass */
.project .container .viewport .prev .arrow, .project .container .viewport .next .arrow {
  background: url("/images/assets/prev_arrow_lg.gif") no-repeat scroll 0 0 transparent;
  position: absolute;
  display: none;
  left: 30%;
  top: 50%;
  width: 60px;
  height: 90px;
  margin: -45px 0px 0px 0px;
}
/* line 163, ../../src/_css/screen.sass */
.project .container .viewport .next {
  left: 50%;
}
/* line 167, ../../src/_css/screen.sass */
.project .container .viewport .next .arrow {
  background: url("/images/assets/next_arrow_lg.gif") no-repeat scroll 0 0 transparent;
  position: absolute;
  display: none;
  left: auto;
  right: 30%;
  top: 50%;
  width: 60px;
  height: 90px;
  margin: -45px 0px 0px 0px;
}
/* line 178, ../../src/_css/screen.sass */
.project .metadata {
  display: inline;
  float: left;
  width: 300px;
  margin: 0px 0px 0px 30px;
}
/* line 183, ../../src/_css/screen.sass */
.project .metadata h2 {
  font-size: 2.25em;
  margin: -6px 0px 13px 0px;
}
/* line 187, ../../src/_css/screen.sass */
.project .metadata .thumbs {
  margin: 30px 0px 0px 0px;
}
/* line 190, ../../src/_css/screen.sass */
.project .metadata .thumbs .thumb {
  display: inline;
  float: left;
  position: relative;
  margin: 0px 3px 3px 0px;
}
/* line 195, ../../src/_css/screen.sass */
.project .metadata .thumbs .thumb .overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 40px;
  height: 40px;
}
/* line 202, ../../src/_css/screen.sass */
.project .metadata .thumbs .unselected .overlay {
  display: none;
}
/* line 205, ../../src/_css/screen.sass */
.project .metadata .thumbs .selected .overlay {
  display: block;
  background: url("/images/assets/sm_thumb_selected.gif") no-repeat scroll 0 0 transparent;
}
