/* line 14, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 10, ../../src/_css/screen.sass */
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: #333333;
  background: white;
  margin: 0px 80px 0px 80px;
}

/* line 19, ../../src/_css/screen.sass */
::selection {
  color: white;
  background: #007998;
}

/* line 23, ../../src/_css/screen.sass */
::-moz-selection {
  color: white;
  background: #007998;
}

/* line 28, ../../src/_css/screen.sass */
#_l {
  display: none;
}

/* line 31, ../../src/_css/screen.sass */
#_d {
  width: 660px;
}
/* line 34, ../../src/_css/screen.sass */
#_d li {
  display: inline;
  float: left;
}

/* line 37, ../../src/_css/screen.sass */
a {
  color: #007998;
  text-decoration: none;
}

/* line 41, ../../src/_css/screen.sass */
#header {
  clear: both;
  margin: 0px 0px 40px 0px;
}

/* line 45, ../../src/_css/screen.sass */
h1 {
  margin: 80px 0px 0px 0px;
}
/* line 48, ../../src/_css/screen.sass */
h1 a.destroy_color_block {
  color: #222222;
  background: #222222;
}
/* line 52, ../../src/_css/screen.sass */
h1 a.today_color_block {
  color: #007998;
  background: #007998;
}

/* line 56, ../../src/_css/screen.sass */
img {
  display: block;
}

/* line 59, ../../src/_css/screen.sass */
.project_thumb {
  display: inline;
  float: left;
  position: relative;
  width: 200px;
  margin: 0px 30px 30px 0px;
}
/* line 65, ../../src/_css/screen.sass */
.project_thumb .color_blocks {
  position: absolute;
  width: 100%;
  height: 10px;
  cursor: pointer;
  cursor: hand;
}
/* line 72, ../../src/_css/screen.sass */
.project_thumb .color_blocks .color_block {
  display: inline;
  float: left;
  height: 100%;
}
/* line 76, ../../src/_css/screen.sass */
.project_thumb .metadata {
  position: absolute;
  clear: both;
  padding: 6px 0px 0px 0px;
  width: 100%;
  background: white;
}
/* line 83, ../../src/_css/screen.sass */
.project_thumb .metadata .title {
  display: inline;
  float: left;
}
/* line 86, ../../src/_css/screen.sass */
.project_thumb .metadata .title a {
  color: #333333;
}
/* line 89, ../../src/_css/screen.sass */
.project_thumb .metadata .type {
  display: inline;
  float: right;
  font-size: 0.8em;
  line-height: 1.4em;
  color: #999999;
}

/* line 95, ../../src/_css/screen.sass */
.projects {
  clear: both;
  margin: 0px 0px 40px 0px;
}

/* line 99, ../../src/_css/screen.sass */
.project {
  display: inline;
  float: left;
  margin: 0px 0px 40px 0px;
}
/* line 103, ../../src/_css/screen.sass */
.project .image {
  display: inline;
  float: left;
  position: relative;
}
/* line 108, ../../src/_css/screen.sass */
.project .image .images img {
  display: none;
}
/* line 111, ../../src/_css/screen.sass */
.project .image .images .selected {
  display: block;
}
/* line 114, ../../src/_css/screen.sass */
.project .image .prev, .project .image .next {
  background: url("/images/assets/spacer.gif") repeat scroll 0 0 transparent;
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
}
/* line 122, ../../src/_css/screen.sass */
.project .image .prev .arrow, .project .image .next .arrow {
  background: url("/images/assets/prev_arrow_lg.gif") no-repeat scroll 0 0 transparent;
  position: absolute;
  display: none;
  left: 30%;
  top: 50%;
  width: 60px;
  height: 90px;
  margin: -45px 0px 0px 0px;
}
/* line 132, ../../src/_css/screen.sass */
.project .image .next {
  left: 50%;
}
/* line 136, ../../src/_css/screen.sass */
.project .image .next .arrow {
  background: url("/images/assets/next_arrow_lg.gif") no-repeat scroll 0 0 transparent;
  position: absolute;
  display: none;
  left: auto;
  right: 30%;
  top: 50%;
  width: 60px;
  height: 90px;
  margin: -45px 0px 0px 0px;
}
/* line 147, ../../src/_css/screen.sass */
.project .metadata {
  display: inline;
  float: left;
  width: 300px;
  margin: 0px 0px 0px 30px;
}
/* line 152, ../../src/_css/screen.sass */
.project .metadata h2 {
  font-size: 2.25em;
  margin: -6px 0px 13px 0px;
}
/* line 156, ../../src/_css/screen.sass */
.project .metadata .thumbs {
  margin: 30px 0px 0px 0px;
}
/* line 159, ../../src/_css/screen.sass */
.project .metadata .thumbs .thumb {
  display: inline;
  float: left;
  position: relative;
  margin: 0px 3px 3px 0px;
}
/* line 164, ../../src/_css/screen.sass */
.project .metadata .thumbs .thumb .overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 40px;
  height: 40px;
}
/* line 171, ../../src/_css/screen.sass */
.project .metadata .thumbs .unselected .overlay {
  display: none;
}
/* line 174, ../../src/_css/screen.sass */
.project .metadata .thumbs .selected .overlay {
  display: block;
  background: url("/images/assets/sm_thumb_selected.gif") no-repeat scroll 0 0 transparent;
}
