/* line 14, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 11, ../../src/_css/screen.sass */
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: #333333;
  background: white;
  margin: 0px 80px 0px 80px;
}

/* line 20, ../../src/_css/screen.sass */
#header {
  margin: 0px 0px 40px 0px;
}

/* line 23, ../../src/_css/screen.sass */
h1 {
  margin: 80px 0px 0px 0px;
}
/* line 26, ../../src/_css/screen.sass */
h1 .destroy_color_block {
  color: #222222;
  background: #222222;
}
/* line 30, ../../src/_css/screen.sass */
h1 .today_color_block {
  color: #007998;
  background: #007998;
}

/* line 34, ../../src/_css/screen.sass */
img {
  display: block;
}

/* line 37, ../../src/_css/screen.sass */
.project_thumb {
  display: inline;
  float: left;
  position: relative;
  width: 200px;
  margin: 0px 30px 30px 0px;
}
/* line 43, ../../src/_css/screen.sass */
.project_thumb .color_blocks {
  position: absolute;
  width: 200px;
  height: 10px;
}
/* line 48, ../../src/_css/screen.sass */
.project_thumb .color_blocks .color_block {
  display: inline;
  float: left;
  width: 50px;
  height: 100%;
}
/* line 53, ../../src/_css/screen.sass */
.project_thumb .title {
  position: absolute;
  clear: both;
  padding: 6px 0px 0px 0px;
  width: 200px;
  background: white;
}
