---
layout: default
title: About
category: about
---
#about.container_4
  .alpha.grid_2
    %img{:src => "/images/about/profile.jpg", :width => 433, :height => 433}
  .omega.grid_2
    :markdown
      Jonnie Hallman
