---
layout: default
title: About
category: about
---
#about.container_4
  .alpha.grid_2
    %img{:src => "/images/about/profile.jpg", :width => 433, :height => 433}
  .omega.grid_2
    :markdown
      Jonnie Hallman is tough--he sits in an ergonomic kneeling chair and uses a Wacom pen. As a UX developer at Adobe, Jonnie writes mobile applications in the realm of digital magazine publishing and social networking. He also avoids the shame smock at all costs. Prior to joining Adobe, Jonnie attended RISD and MICA, majoring in Graphic Design and Defense Against Muggings. While in school, he designed and developed several applications, including DestroyTwitter. In its first three months, DT's install count reached six figures. It currently sends over one million tweets per month. Jonnie's day-to-day consists of ping pong, super burritos, and Alex Trebek. He looks for jokes in every situation and consistently ruins tear-jerkers. If given a million dollars, he would request it in small, non-sequential, unmarked bills.
