$background: #273F63 url("/images/lab/inchexperiment/inchexperiment_background.png") no-repeat center top

$text-color: #FFF !default

$identity-destroy-color: #FFF
$identity-today-color: #F24A38

$link-color: #F24A38
$link-hover-color: #FFF

$nav-color: #F24A38
$nav-selected-color: #FFF

$footer-color: #50617A

@import "master"

#header
	height: 500px
	
