$background: url("/images/lab/jpixel/jpixel_background.png")

$identity-destroy-color: #000
$identity-today-color: #000

$link-color: #000
$link-hover-color: #000

$nav-selected-color: #000

@import "master"

#jpixel
	#header
		+transparent-image('/images/lab/jpixel/jpixel_header.png', 900px, 450px)