---
---
@import "dark"

.grid_2
    .flash
        width: 433px
        height: 433px
        
        border: solid 1px #333
    
        .stop
            +transition-property(opacity)
            +transition-duration(.35s)
            +transparent-image("/assets/site/close.png", 33px, 33px)
            +cursor-hand
            position: absolute
            opacity: 0
            top: 10px
            right: 10px
            
        .play
            +transition-property(opacity)
            +transition-duration(.35s)
            +transparent-image("/assets/site/play.png", 33px, 33px)
            +cursor-hand
            position: absolute
            opacity: 0
            top: 10px
            right: 10px
            
        .swf
            position: absolute
            display: none
            width: 433px
            height: 433px
        
        .placeholder
            +cursor-hand
        
            img
                width: 433px
                height: 433px
