@import "compass/reset"
@import "compass/utilities/general/clearfix"
@import "compass/utilities/general/float"
@import "compass/css3"

// variables
$background-color: #FFF !default
$text-font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif !default
$text-color: #333 !default
$text-weight: 500 !default

$identity-font: "museo-sans-1", "museo-sans-2", $text-font !default
$identity-weight: 700 !default
$identity-destroy-color: #333 !default
$identity-today-color: #007998 !default

$header-font: $identity-font !default
$header-weight: 700 !default
$header-color: #333 !default
$tag-color: #999 !default

$link-color: #007998 !default
$link-hover-color: #007998 !default

$nav-font: "Helvetica Neue", sans-serif !default
$nav-color: #333 !default
$nav-weight: 500 !default
$nav-selected-color: #007998 !default
$nav-selected-weight: 700 !default

$footer-color: #999 !default
$footer-weight: 500 !default

$thumbnail-title-weight: 500 !default

body
	font:
		family: $text-font
		size: 1em
		weight: $text-weight
	color: $text-color
	background: $background-color
	margin: 0px 0px 0px 0px
	min-width: 980px
	
::selection
	color: #FFF
	background: #007998

::-moz-selection
	color: #FFF
	background: #007998
	
// ie6 warning
#_l
	display: none
		
#_d
	width: 660px
	
	li
		+float-left
		
img
	display: block

p
	font-size: 0.875em
	line-height: 1.5em
	margin: 0px 0px 12px 0px

	a:hover
		text-decoration: underline
	
a
	color: $link-color
	text-decoration: none
	outline: none
	
.vertically_centered
	display: table-cell
	vertical-align: middle
	
.top_margin
	margin-top: 26px
	
#page
	margin: 0px auto 0px auto
	width: 900px
	
#top
	clear: both
	height: 42px

	#identity
		+float-left
		margin: 12px 0px 0px 0px
		
		h1
			font:
				family: $identity-font
				weight: $identity-weight
		
			a.destroy
				color: $identity-destroy-color
		
			a.today
				margin-left: 0.0625em
				color: $identity-today-color
		
	#navigation
		+float-right
		font-family: $nav-font
		font-size: 0.75em
	
		ul
			li
				+float-left
				margin: 12px 8px 0px 0px
				
				a
					color: $nav-color
					font-weight: $nav-weight
					
					&:hover
						color: $nav-selected-color
				
				&.selected
					margin-top: 0px
					padding-top: 8px
					border-top: solid 4px $nav-selected-color
					
					a
						color: $nav-selected-color
						font-weight: $nav-selected-weight
						
#content
	+clearfix
	min-height: 500px

#footer
	clear: both
	font:
		weight: $footer-weight
		size: 0.75em
	color: $footer-color
	margin: 80px 0px 20px 0px
	text-align: center

.project_thumb
	+float-left
	position: relative
	width: 200px
	margin: 0px 33px 50px 0px
	
	.color_blocks
		position: absolute
		width: 100%
		height: 10px
		cursor: pointer
		cursor: hand
	
		.color_block
			+float-left
			height: 100%
			
	.metadata
		position: absolute
		clear: both
		padding: 10px 0px 0px 0px
		width: 100%
		background: $background-color
		font-weight: $thumbnail-title-weight
		
		.title
			+float-left
			
			a
				color: $text-color
		
		.type
			+float-right
			font-size: 0.8em
			font-style: italic
			line-height: 1.4em
			color: $tag-color
			
#content
	+clearfix
	clear: both
	margin: 30px 0px 40px 0px
			
.project
	+float-left
	margin: 0px 0px 40px 0px
	min-width: 900px
	
	.container
		+float-left
		width: 600px

		.viewport
			+float-left
			position: relative
		
			.images
				.image
					display: none
				
				.selected
					display: block
		
			.prev
				background: url("/images/assets/spacer.gif") repeat scroll 0 0 transparent
				position: absolute
				left: 0
				top: 0
				width: 50%
				height: 100%
			
				.arrow
					background: url("/images/assets/prev_arrow_lg.gif") no-repeat scroll 0 0 transparent
					position: absolute
					display: none
					left: 30%
					top: 50%
					width: 60px
					height: 90px
					margin: -45px 0px 0px 0px
			
			.next
				@extend .prev
				left: 50%
			
				.arrow
					background: url("/images/assets/next_arrow_lg.gif") no-repeat scroll 0 0 transparent
					position: absolute
					display: none
					left: auto
					right: 30%
					top: 50%
					width: 60px
					height: 90px
					margin: -45px 0px 0px 0px
		
	.metadata
		+float-left
		width: 300px
		margin: 0px 0px 0px 30px
	
		h2
			font:
				family: $header-font
				size: 2.25em
				weight: $header-weight
				
			margin: -6px 0px 13px 0px
			
		.thumbs
			margin: 30px 0px 0px 0px
			
			.thumb
				+float-left
				position: relative
				margin: 0px 3px 3px 0px
				
				.overlay
					position: absolute
					left: 0px
					top: 0px
					width: 40px
					height: 40px
				
			.unselected .overlay
				display: none
			
			.selected .overlay
				display: block
				background: url("/images/assets/sm_thumb_selected.gif") no-repeat scroll 0 0 transparent
				
//--------------------------------------
//  Grid
//--------------------------------------

//
//	Variable Grid System.
//	Learn more ~ http://www.spry-soft.com/grids/
//	Based on 960 Grid System - http://960.gs/
//
//	Licensed under GPL and MIT.
//

.container_4 
	margin-left: auto
	margin-right: auto
	width: 900px

.grid_1,
.grid_2,
.grid_3
	display: inline
	float: left
	position: relative
	margin-left: 16px
	margin-right: 17px
	
.grid_4
	@extend .grid_3
	@extend .alpha
	@extend .omega
	
.alpha 
	margin-left: 0

.omega 
	margin-right: 0

.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4 
	position: relative

.container_4 .grid_1 
	width: 200px

.container_4 .grid_2 
	width: 433px

.container_4 .grid_3 
	width: 666px

.container_4 .grid_4 
	width: 899px

.container_4 .prefix_1 
	padding-left: 233px

.container_4 .prefix_2 
	padding-left: 466px

.container_4 .prefix_3 
	padding-left: 699px

.container_4 .suffix_1 
	padding-right: 233px

.container_4 .suffix_2 
	padding-right: 466px

.container_4 .suffix_3 
	padding-right: 699px

.container_4 .push_1 
	left: 233px

.container_4 .push_2 
	left: 466px

.container_4 .push_3 
	left: 699px

.container_4 .pull_1 
	left: -233px

.container_4 .pull_2 
	left: -466px

.container_4 .pull_3 
	left: -699px

.clear 
	clear: both
	display: block
	overflow: hidden
	visibility: hidden
	width: 0px
	height: 0px

.clearfix:before,
.clearfix:after 
	content: '\0020'
	display: block
	overflow: hidden
	visibility: hidden
	width: 0px
	height: 0px

.clearfix:after
	clear: both

.clearfix
	zoom: 1
