---
layout: project
title: The Inch Experiment
category: lab
type: web
thumbnail: 
  image: inch-experiment-thumb.jpg
  colors: [273F63, F24A38, FFFFFF]
style: true
---
#inch-experiment
  #header.grid-4
  .grid-4
    :maruku
      The Inch Experiment tells the user to click one of four words that describes them, but when the timer starts, it hides their cursor. The user's mouse movement is recorded for ten seconds, then drawn afterwords with red indicating clicks. Each participant's result is saved to a gallery for others to view. As expected, the experiment caused quite a bit of confusion, but once the users discovered the secret, they often retook it to make a drawing, write a message, or create complete chaos.
  .spacer-2
  .grid-4
    %img{:src => "/assets{{page.id}}/inch-experiment-instructions.png", :width => 900, :height => 452}
  {% for i in (0..4) %}
  .spacer-1
  .grid-4
    %img{:src => "/assets{{page.id}}/inch-experiment-result-{{i}}.png", :width => 900, :height => 452}
  {% endfor %}