---
layout: project
title: Gum Wall
category: lab
type: sculpture
thumbnail: 
  image: gumwall_lg_thumb.jpg
  colors: [ece1d1, bea86c]
style: true
---
#gumwall
  .container
    .grid-2
      %img{:src => "/assets{{page.id}}/gumwall_0.jpg", :width => 433, :height => 386}
    .grid-2
      %img{:src => "/assets{{page.id}}/gumwall_1.jpg", :width => 433, :height => 386}
  .spacer-2
  .grid-4
    :maruku
      Even though this is the antithesis of digital and many years old, it's still one of my favorite projects to date. I was asked to make anything, but it had to consist of at least one thousand of the same object. I decided to build a 2 inch wall 12 feet long out of 2,000 sticks of Juicy Fruit gum. I stacked them like bricks, using water as the mortar. I later extended upon the idea by building a six foot self-standing arch. The strength of gum is surprising.