---
layout: project
title: Printer Patterns
category: lab
type: installation
thumbnail: 
  image: printer-patterns-thumb.jpg
  colors: [00B4F1, F80080, F8ED5A, 110209]
style: true
---
#printer-patterns
  #header.grid-4
    %img.checkered{:src => "/assets{{page.id}}/printer-patterns-header.jpg"}
  .spacer-2
  #description.grid-4
    :maruku
      For a long time, I was obsessed with printer patterns---the ones that printers spit out after cleaning the nozzles. I collected patterns from all over and found that even the same brand would differ its pattern from model to model. Around the same time, I worked more off-screen, mainly through screen printing. The above installation is a 12x8 foot screen print of the Epson R2400's printer pattern. Certain areas didn't print so well, but that's the point---the screens I used were in need of cleaning.