---
layout: project
title: Floating Type
category: lab
type: photo
thumbnail: 
  image: floatingtype_lg_thumb.jpg
  colors: [FF6801, FFFFFF]
style: true
---
#floatingtype
  #orange.grid-4
    %img{:src => "/assets{{page.id}}/floatingtype_orange.jpg", :width => 900, :height => 254}
  #apple.grid-4
    %img{:src => "/assets{{page.id}}/floatingtype_apple.jpg", :width => 900, :height => 254}
  #cherry.grid-4
    %img{:src => "/assets{{page.id}}/floatingtype_cherry.jpg", :width => 900, :height => 254}
  .spacer-2
  .grid-4
    %h3 Process
  .spacer-3
  .container
    .grid-2
      %img{:src => "/assets{{page.id}}/floatingtype_process_0.jpg", :width => 433, :height => 300}
      .caption
        :maruku
          The letters were lasercut from clear plastic.
    .grid-2
      %img{:src => "/assets{{page.id}}/floatingtype_process_1.jpg", :width => 433, :height => 300}
  .container
    .grid-2
      %img{:src => "/assets{{page.id}}/floatingtype_process_2.jpg", :width => 433, :height => 300}
      .caption
        :maruku
          The backs were spray-painted, so the front would still appear glossy.
    .grid-2
      %img{:src => "/assets{{page.id}}/floatingtype_process_3.jpg", :width => 433, :height => 300}
      .caption
        :maruku
          Two fishing lines were taped to the back of each letter.
  .container
    .grid-2
      %img{:src => "/assets{{page.id}}/floatingtype_process_4.jpg", :width => 433, :height => 300}
      .caption
        :maruku
          I set up the photoshoot using two 600 watt strobes to blow out the backdrop and two 300 watt strobes with softboxes to fill the letters.
    .grid-2
      %img{:src => "/assets{{page.id}}/floatingtype_process_5.jpg", :width => 433, :height => 300}
      .caption
        :maruku
          A 20 gallon fishtank provided the perfect container to hold the water in which the type would 'float'. I got it for free from a generous librarian.
  .container
    .grid-2
      %img{:src => "/assets{{page.id}}/floatingtype_process_6.jpg", :width => 433, :height => 300}
      .caption
        :maruku
          I used a boom pole to suspend the letters in the water.
    .grid-2
      %img{:src => "/assets{{page.id}}/floatingtype_process_7.jpg", :width => 433, :height => 300}
      .caption
        :maruku
          You wouldn't believe how hard it was to keep those letters from spinning.
