---
layout: project
title: Flash Experiments
category: lab
type: flash
thumbnail: 
  image: flash-experiments-thumb.png
  colors: [FFFF00, 007998, 222222]
hasFlash: true
style: true
experiments:
   - {id: 'magnetism', title: 'Magnetism'}
   - {id: 'magnetism-2', title: 'Magnetism 2'}
   - {id: 'convex-hull', title: 'Convex Hull'}
   - {id: 'delaunay-voronoi', title: 'Delaunay Triangulation + Voronoi Diagram'}
   - {id: 'intersections', title: 'Intersections + click to create points'}
   - {id: 'intersections-2', title: 'Intersections 2 + click to create points'}
   - {id: 'intersections-3', title: 'Intersections 3 + click to create points'}
   - {id: 'triangle', title: 'Triangle'}
   - {id: 'bezier', title: 'Bezier + click to create points'}
   - {id: 'wormtrail', title: 'Wormtrail'}
   - {id: 'amoeba', title: 'Amoeba'}
   - {id: 'amoeba-2', title: 'Amoeba 2'}
   - {id: 'trails', title: 'Trails'}
   - {id: 'explosion', title: 'Explosion + click & hold to create explosion'}
   - {id: 'ribbons', title: 'Ribbons'}
   - {id: 'ripples', title: 'Ripples'}
---
#flash-experiments
  {% assign experiment_i = 0 %}
  {% for experiment in page.experiments %}
  {% if experiment_i == 0 %}.container{% endif %}
    .grid-2
      .flash
        %img.checkered{:src => "/assets{{page.id}}/{{experiment.id}}.png", :alt => "{{experiment.title}}"}
      %p.tag.center {{experiment.title}}
  {% if experiment_i == '1' %}.spacer-1{% endif %}
  {% capture experiment_i %}{{ experiment_i | plus:1 }}{% endcapture %}
  {% if experiment_i == '2' %}{% assign experiment_i = 0 %}{% endif %}
  {% endfor %}