---
layout: project
title: Uptime
category: lab
type: web
thumbnail: 
  image: uptime-thumb.png
  colors: [E3DBCC, 27634C]
style: true
---
#uptime
  #screenshot
    %a{:href => "http://uptime.destroytoday.com"}
      %img.checkered{:src => "/assets{{page.id}}/uptime-screenshot.png"}
  .spacer-2
  #description
    :maruku
      [Uptime](http://uptime.destroytoday.com) is a Rails app that displays the number of days [destroytoday.com](http://destroytoday.com) has been running, in the style of factory accident signs.