---
---
@import "master"

#contact
    #poop
        display: none

    #email, #phone, #address
        font-size: 0.75em
        line-height: 1.5em
        
    #networks
        margin: 18px 0px 0px 0px

        ul li
            +float-left
            margin: 0px 4px 0px 0px